<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microcharts" version="0.7.1" targetFramework="net472" />
  <package id="Microcharts.Forms" version="0.7.1" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net472" />
  <package id="MvvmLightLibsStd10" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.1.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.Forms" version="1.68.1.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xamarin.Essentials" version="1.5.1" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.5.0.495" targetFramework="net472" />
  <package id="XamarinUniversity.Core" version="2.2.0" targetFramework="net472" />
</packages>